.color-qutoes {
  background: linear-gradient(
    90deg,
    #f7cfcf 0%,
    #f7eade 18%,
    #fdf9d3 35%,
    #e8ffe5 50%,
    #dfe8fb 69%,
    #f1e5ff 87%,
    #f5e5ff 99%
  );
  height: 80px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
/* p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
} */

.rows {
  display: fixed;
}
/* .container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.animation {
  height: 30px;
  overflow: hidden;
  /* margin-left: 10rem; */
}

.animation > div > div {
  padding: 0.25rem 0.25rem;
  height: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  /* background-color: #20a7d8; */
}
.second div {
  /* background-color: #cd921e; */
}
.third div {
  /* background-color: #c10528; */
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -4rem;
  }
  30% {
    margin-top: -4rem;
  }
  40% {
    margin-top: -8rem;
  }
  60% {
    margin-top: -8rem;
  }
  70% {
    margin-top: -4rem;
  }
  80% {
    margin-top: -4rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
